---
layout: narrow
title: About
permalink: /about/
---

<div class="centered">
  <div class="medium circular image">
    <img src="{{ site.baseurl }}/img/profile.jpg">
  </div>
</div>

<div class="horizontal divider"></div>

<div class="centered">
  <div class="social">
    {% if site.github %}
    <a class="label" href="https://www.github.com/{{ site.github }}">
      <i class="fa fa-github"></i>
    </a>
    {% endif %}
    {% if site.linkedin %}
    <a class="label" href="https://www.linkedin.com/in/{{ site.linkedin }}">
      <i class="fa fa-linkedin"></i>
    </a>
    {% endif %}
    {% if site.facebook %}
    <a class="label" href="https://www.facebook.com/{{ site.facebook }}">
      <i class="fa fa-facebook"></i>
    </a>
    {% endif %}
  </div>
</div>

<p>
Hi! I'm an undergraduate at Carnegie Mellon University, interested in physics,
computer science, and design.

This summer, I'll be a software developer intern at
<a href="http://www.avvo.com/">Avvo</a>.
</p>
