---

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.name }}</title>

    {% include meta.html %}

    <!-- Force favicon refresh (for development) -->
    <link rel="shortcut icon" href="./favicon.ico"/>

    <!-- CSS  -->

    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700|Cardo:400,400italic,700' rel='stylesheet' type='text/css'>

    <link href="style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  </head>

  <body>

    {% include top-nav.html %}

    <section class="grid">
    <div class="half left">
      <h1 id="hero-main">rz</h1>
      <h2 id="hero-sub">Richard Zhao</h2>
    </div>
    <div class="half right">
      <p id="hero-text">
      I am a student at Carnegie Mellon Univeristy, interested in physics, computer science,
      artificial intelligence, and design.
      </p>
    </div>
    </section>

    <section class="grid">
    <div class="half left">
      <h2 class="category">Experience</h2>
    </div>
    <div class="half right">
      <ul>
        <li><span class="year">2015-present </span>Content developer for the Carnegie Mellon AGILE project.</li>
        <li><span class="year">2014-present </span>Peer tutor at Carnegie Mellon University,
        Academic Development office.</li>
      </ul>
    </div>
    </section>

    <section class="grid">
    <div class="half left">
      <h2 class="category">Education</h2>
    </div>
    <div class="half right">
      <ul>
        <li><span class="year">2018 </span>Bachelor's of Science in physics.
        <a href="https://www.cmu.edu/">Carnegie Mellon University.</a>
        Pittsburgh, Pennsylvania.</li>
      </ul>
    </div>
    </section>

    <section class="grid">
    <div class="half left">
      <h2 class="category">Projects</h2>
    </div>
    <div class="half right">
      <ul>
        <li><span class="year">2015 </span>
        <a href="https://github.com/zhaorz/Touch-Calculator">Touch Calculator.</a>
        Real-time handwriting recognition engine with custom feature detection pipeline.</li>
      </ul>
    </div>
    </section>

    {% include footer.html %}

  </body>
</html>
