/*
 * CSS Stylesheet for richard-zhao.com
 *
 */


/**** BLOG ****/

article {
  font-family: 'Cardo', 'Georgia', serif;
  font-weight: 400;
}

/*
div.container h1 {
  font-size: 3.5em;
  font-weight: bold;
}
  */

div.container h2 {
  font-size: 3.0em;
  font-weight: bold;
}

div.container h3 {
  font-size: 2.5em;
  font-weight: bold;
}

div.container h4 {
  font-size: 2.0em;
  font-weight: bold;
}

div.container h5 {
  font-size: 1.5em;
  font-weight: bold;
}

div.container h6 {
  font-size: 1.0em;
  font-weight: bold;
}

div.container p {
  font-size: 1.3em;
  font-family: 'Cardo';
  font-weight: 400;
}

div.container ul li, div.container ol li {
  font-size: 1.2em;
}

div.entry {
  font-size: 0.8em;
}



/**** MAIN ELEMENTS ****/

html {
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', 'Consolas', 'Menlo', 'monospace';
  font-weight: 300;
  font-size: 100%;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

p, li {
  font-size: 0.70em;
  line-height: 2em;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
  padding-bottom: 2px;
  -webkit-transition : all 300ms ease-in-out;
  -moz-transition    : all 300ms ease-in-out;
  -o-transition      : all 300ms ease-in-out;
  transition         : all 300ms ease-in-out;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #3275e3;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**** GRID ****/

.half {
  float: left;
}

.half.left {
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
}

.half.right {
  width: 60%;
  padding-right: 20%;
}

.container {
  margin: 0 auto;
  width: 700px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

/**** NAVIGATION ****/

nav {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.nav {
  float: left;
  width: 25%;
}

nav li, nav li a {
  border: none;
  text-decoration: none;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
}

nav li a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.menu-links {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

/**** FOOTER ****/

footer {
  height: 300px;
  background-color: #2a2e3c;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

footer ul {
  margin: 0;
}

footer a {
  color: rgba(255, 255, 255, 0.5);
  border: none;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.9);
  border: none;
}

.grid-footer {
  padding: 0;
}

/**** CONTENT STYLES ****/

#hero-main {
  float: left;
  width: 100%;
  font-weight: 300;
  font-size: 8em;
  margin-top: -0.34em;
  margin-left: -0.15em;
  margin-bottom: -0.1em;
}

#hero-sub {
  font-size: 1.1em;
  font-weight: 500;
}

#hero-text {
  font-size: 1em;
}

.category {
  font-size: 0.9em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.subtle {
  margin: 0;
  padding: 0;
  font-size: 0.65em;
  font-weight: 300;
  opacity: 0.5;
}

.year {
  font-weight: 400;
}

/**** SYNTAX HIGHLIGHTING ****/

code {
  font-family: 'Menlo', 'Consolas', 'monospace';
  font-size: 0.8em;
}

.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #666666 } /* Literal.Number.Bin */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */

