<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-contacts">
      {% if site.email %}
      <a href="mailto:{{ site.email }}">
        Email
      </a>
      {% endif %}
      {% if site.github %}
      <a href="https://www.github.com/{{ site.github }}">
        Github
      </a>
      {% endif %}
      {% if site.linkedin %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin }}">
        LinkedIn
      </a>
      {% endif %}
      {% if site.resume %}
      <a href="{{ site.baseurl }}{{ site.resume }}">
        Resume
      </a>
      {% endif %}
    </div>

  </div>

</footer>
