<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      {% for item in site.data.nav %}
        {% if page.url == item.url %}
          <a class="page-link active" href="{{ site.baseurl }}{{ item.url }}">
            {{ item.title }}</a>
        {% else %}
          <a class="page-link" href="{{ site.baseurl }}{{ item.url }}">
            {{ item.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>

  </div>

</header>
