    <nav>
    <div class="half left">
      <ul class="menu-links">
        <li><a href="mailto:{{ site.email }}?subject=Inquiry">email</a></li>
      </ul>
    </div>
    <div class="half right">
      <ul class="menu-links">
        <li class="nav"><a href="{{ site.url }}/">about</a></li>
        <li class="nav"><a href="https://github.com/zhaorz">github</a></li>
        <li class="nav"><a href="https://www.linkedin.com/pub/richard-zhao/aa/645/76">linkedin</a></li>
        <li class="nav"><a href="{{ site.url }}/blog">blog</a></li>
      </ul>
    </div>
    </nav>

