/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $header-font-weight;

  .small {
    font-weight: $base-font-weight;
    font-size: 0.8em;
    color: lighten($text-color, 25%);
  }

}



/**
 * Links
 */
a {
  color: lighten($text-color, 20%);
  text-decoration: none;
  transition: all 150ms linear;

  &:visited {
    color: lighten($text-color, 20%);
  }

  &:hover {
    color: darken($text-color, 15%);
    text-decoration: underline;
  }
}

/**
 * Paragraphs
 */
p {
  line-height: $base-line-height;

  a {
    color: lighten($text-color, 20%);
    text-decoration: none;
    box-shadow: inset 0 -1px $grey-color-light;

    &:visited {
      text-decoration: none;
      color: lighten($text-color, 20%);
    }

    &:hover {
      text-decoration: none;
      color: darken($text-color, 50%);
      box-shadow: inset 0 -1.5px $brand-color;
    }
  }

  &.small {
    font-size: 0.8em;
    color: lighten($text-color, 25%);
  }

}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  //font-size: 18px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-family: $code-font-family;
}

var {
  color: darken($brand-color, 5%);
  padding: 1px 3px;
  font-size: 0.9em;
}

code {
  color: darken($brand-color, 5%);
  padding: 1px 3px;
  font-size: 0.9em;
}

pre {
  padding: 18px 22px;
  overflow-x: auto;
  border-left: 2px solid $brand-color;

  > code {
    font-size: 0.8em;
    color: $text-color;
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

.centered {
  display: flex;
  justify-content: center;
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}
