/**
 * header.scss
 */

.site-header {
  margin-top: 30px;
  min-height: 56px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.site-title {
  font-size: 2em;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 0;
  text-transform: lowercase;
  color: $brand-color;
  font-family: $code-font-family;

  &,
  &:visited {
    color: $brand-color;
    /* color: $grey-color-dark; */
  }

  &:hover {
    text-decoration: none;
    box-shadow: inset 0 -3px $brand-color;
  }
}

/** Navigation **/

.site-nav {
  line-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  .page-link {
    font-weight: 200;
    color: $text-color;
    line-height: $base-line-height;

    &.active {
      box-shadow: inset 0 -1.5px $brand-color;
    }

    &:hover {
      text-decoration: none;
      box-shadow: inset 0 -1.5px $brand-color;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
