/**
 * _projects.scss
 */

tbody.projects {
  width: 100%;

  tr {
    width: 100%;
  }

  td.thumbnail {

  }

  td.content {
    vertical-align: top;

    .header {
      color: $text-color;

      &:hover {
        text-decoration: none;
        box-shadow: inset 0 -1.5px $brand-color;
      }
    }

  }

}

