/**
 * _typography.scss
 */

hr {
  color: lighten($text-color, 50%);
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

/** Definitions **/
dt {
  font-weight: 700;
}

dd {
  margin-left: $spacing-unit;
}

/** Citations **/
cite {
  color: $text-color;
  font-style: normal;

  a {
    color: $text-color;
    font-style: normal;

    &:visited {
      color: $text-color;
      font-style: normal;
    }

    &:hover {
      color: $text-color;
      font-style: normal;
    }
  }
}

/** Keyboard **/
kbd {
  font-family: $code-font-family;
  font-size: 0.7em;
  font-weight: 700;
  font-style: italic;
  color: lighten($text-color, 20%);
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid $text-color;
  border-radius: 2px;
  padding: 3px;
  box-shadow: 2px 2px lighten($text-color, 50%);
}

