---
layout: default
---

<div class="home">

  <div class="post-list">
    {% for post in paginator.posts %}
    {% assign minutes = post.content | number_of_words | divided_by: 180 %}
    {% if minutes == 0 %}
    {% assign minutes = 1 %}
    {% endif %}
    <div class="post">
      <div class="post-header">
        <h2><a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            {{ post.title }}</a></h2>

        {% if post.tags != empty %}
        <ul class="tags">
          {% for tag in post.tags %}
          <li>
            <a href="/blog/tag/{{ tag }}">{{ site.data.tags[tag].name }}</a>
          </li>{% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="post-meta">
        <p>{{ post.date | date: "%b %-d, %Y" }}</p>

        <p>
        {% if post.minutes %}
        {{ post.minutes }} minute read
        {% else %}
        {{ minutes }} minute read
        {% endif %}
        </p>
      </div>


      <p class="post-summary">
      {% if post.summary %}
      {{ post.summary }}
      {% else %}
      {{ post.excerpt }}
      {% endif %}
      </p>
    </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>

