---
layout: default
---

<h1>{{ site.data.tags[page.tag].name }}</h1>

{% if site.tags[page.tag] %}
  {% for post in site.tags[page.tag] %}
    {% assign minutes = post.content | number_of_words | divided_by: 180 %}
    {% if minutes == 0 %}
      {% assign minutes = 1 %}
    {% endif %}
    <div class="post py3">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h3 class="h2 post-title">{{ post.title }}</h3>
      </a>
      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
      <p class="post-meta">
      {% if post.minutes %}
        {{ post.minutes }} minute read
      {% else %}
        {{ minutes }} minute read
      {% endif %}
      </p>
      <p class="post-summary">
        {% if post.summary %}
          {{ post.summary }}
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </p>
    </div>
  {% endfor %}
{% else %}
  <p>There are no posts for this tag.</p>
{% endif %}
