---
layout: default
---

<h1 class="tags-header">{{ site.data.tags[page.tag].name }}</h1>

{% if site.tags[page.tag] %}
  {% for post in site.tags[page.tag] %}

    {% assign minutes = post.content | number_of_words | divided_by: 180 %}
    {% if minutes == 0 %}
      {% assign minutes = 1 %}
    {% endif %}

    <div class="post-header">
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

      {% if post.tags != empty %}
      <ul class="tags">
        {% for tag in post.tags %}
        <li>
          <a href="/blog/tag/{{ tag }}">{{ site.data.tags[tag].name }}</a>
        </li>{% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="post-meta">
      {% if post.date %}
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
      {% endif %}
      {% if post.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ post.author }}</span>
      </span>
      {% endif %}

      <p>
      {% if post.minutes %}
      {{ post.minutes }} minute read
      {% else %}
      {{ minutes }} minute read
      {% endif %}
      </p>
    </div>

  {% endfor %}
{% else %}
  <p>There are no posts for this tag.</p>
{% endif %}
